@import '../variables';

.sort {
  position: relative;
  z-index: 100;

  @media screen and (max-width: 1340px) {
    align-self: baseline;
  }

  &__label {
    display: flex;

    gap: 8px;

    @media screen and (max-width: 830px) {
      padding-top: 25px;
    }

    b {
      color: #2c2c2c;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      font-weight: 400;
      cursor: pointer;
      margin-right: 8px;
    }
  }

  &__popup {
    position: absolute;
    left: 110px;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }
}
